@import "style.scss";

.form-create-restaurant {

    .food-field {
        display: flex;
        gap: 20px;
        margin-top: 15px;

        .remove-button {
            background-color: white;
            align-items: center;
            border: none;
        }
    }
}
