@import 'style.scss';

    .input-field {
        border: none;
        border-bottom: solid $grey-lighter 0.5px;
        background-color: white !important;
        box-shadow: none;
        border-radius: 0;
    }

    .input-field:hover {
        border-bottom: solid black 1px;
    }

    .input-field.is-valid:hover {
        border-bottom: solid black 1px;
    }

    .input-field:focus {
        border-bottom: solid $primary-blue 1px;
        box-shadow: none;
    }

    .input-field.is-valid:focus {
        border-bottom: solid $primary-blue 1px;
        box-shadow: none;
    }

    .input-field.is-invalid:focus {
        box-shadow: none;
    }

    //.input-field:o

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }

    .input-field.is-invalid {
        border-color: $warning-red;
        box-shadow: none;
    }

    .input-field.is-valid {
        box-shadow: none;
        border-color: $grey-lighter;
        background-image: none;
    }

    .btn-primary {
        border-color: $primary-blue;
        background-color: white;
        color: $primary-blue;
    }

    .btn-primary:hover {
        border-color: white;
        background-color: $primary-blue;
        color: white;
    }