@import "style.scss";

.account-block-page-wrapper {
    padding: 40px 60px;

    .form-cancel-btn {
        margin-left: 20px;
    } 

    .form-block-user {
        margin-top: 30px;

        .account-field {
            display: flex;
            gap: 20px;
            margin-top: 15px;
    
            .remove-button {
                background-color: white;
                align-items: center;
                border: none;
            }
        }
    }
}
